.battleshiptable{
    width:350px;
    height:350px;
}
body{ text-align: center; }
#tableboard {
	display:flex;
    flex-wrap: wrap;
	width:475px;
    height:475px;
    text-align: center;
    vertical-align: middle;
}
.firstrow{
    text-align: center;
    width:50px;
    height:25px;
    background-color:rgb(161, 158, 158);
    color:white;
    border: 1px solid rgb(221, 218, 218);
}
.firstrow:first-child {
    width:25px;
    height:25px;
    background-color:rgb(161, 158, 158);
    color:white;
}
.boxes {
	border: 1px solid rgb(221, 218, 218);
	width:50px;
	height:50px;
    text-align: center;
}
.boxes:first-child {
    width:25px;
    height:50px;
    background-color:rgb(161, 158, 158);
    color:white;
}

.btn {
    margin-top:15px;
    background-color: gray!important;
    color:white!important;
}

.boxes.touchspace {
    background-color: rgb(168, 13, 13); 
}
.boxes.waterspace {
    background-color: rgb(5, 104, 150);
}

